<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <html data-theme="fantasy"></html>
    <title>About</title>
</head>
<body>
  <%- include('partials/navbar', {page: '/about'}) %>
      <div class="container mx-auto">
        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold">About</h1>
                <p class="py-6">All about me.</p>
              </div>
            </div>
          </div>
          <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2  gap-6">
              <div class="border-2">
                    <div class="w-full rounded-lg">
                      <img src="https://images.unsplash.com/photo-1604948501466-4e9c339b9c24?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="profile"/>
                    </div>
              </div>
              <div class="prose">
                <p>I am Sanskar Parakhlal Pardesi, a student enrolled in the CPP program at Seneca College. My hobbies include Reading, Chess, video games, and web programming. I am a passionate chess player. The chess is the game that keeps me intact and stay focussed. It is greta to increase the concentration power.  However, my true passion lies in web programming, where I excel in creating dynamic and interactive web applications. I'm on an exciting journey of self-discovery and academic growth, working hard to leave my mark in the world of computer science.</p>
              </div>
            </div>
          </div>
      </div>
</body>
</html>